.selected {
    background-color: var(--color-primary) !important;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.textarea-group {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center; 
    margin: 0 auto;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.copy {
    width: calc(100% - 40px);
    margin: 40px auto;
}

.copy p {
    color: var(--color-grey);
}